#setting_sample_text{
 display:none;    
}
.acf-gallery{
 height:300px !important;	
}
.hotel_location{
 width:40%;	
}
.hotel_price{
 width:20%;	
}
#visit_domain_contact_no{
  width: 35% !important;	
}
#visit_domain_copyright{
  width: 35% !important;		
}
.errorCurrency{
	color: red;
}