input[type=range] {
    -webkit-appearance: none;
    width: 260px;
    height:35px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    cursor: grab;
    background: #CCCCCC;
}
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 55px;
    border-radius: 15px;
    background: #ffffff;
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]::-moz-range-track {
    height: 4px;
    cursor: grab;
    background: #cccccc;
}
input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 55px;
    border-radius: 15px;
    background: #ffffff;
    cursor: grab;
}

input[type=range]::-ms-track {
    height: 4px;
    cursor: grab;
    background: #cccccc;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-thumb {
    height: 16px;
    width: 55px;
    border-radius: 15px;
    background: #ffffff;
    cursor: grab;
    margin-top:2px;
}