input[type=range] {
    margin-bottom:25px;
}

input[type=text],input[type=email],select {
    height:45px !important;
}

.quote-link {
    background-color:#ffffff;
    padding:10px;
    margin-top:40px;
    display:inline-block;
    font-size:16px;
    padding-left: 25px;
    padding-right: 25px;
}

.dark-orange-text,.dark-orange-text:hover,.dark-orange-text:active {
    color:#ff3300;
}

.light-orange-text,.light-orange-text:hover,.light-orange-text:active {
    color:#ff6200;
}

#header .container {
    height:74px;
    /*  background: url('../img/background.jpg'); */
    background-repeat: no-repeat;
    background-position: left top;
}

#hero .container {
    min-height:490px;
    background-repeat: no-repeat;
    background-position: left -74px;
    background-color: #F1763A;
}








#calc {
    padding-top:90px;
}

#calc-box {
    background-color:#ffffff;
    width:675px;
    height:390px;
}

#calc-form {
    width:260px;
    margin-left:auto;
    margin-right:auto;
    margin-top:45px;
    font-weight:bold;
    font-weight:bold;
}

#calc-box-left span {
    font-size:26px;
    margin-right:5px;
}

#calc-box-left {
    font-size:14px;
}

#calc-box-left a {
    font-weight:bold;
    color:#000000;
}

#calc-box-left input[type=text] {
    font-size:26px;
    width:215px;
    outline:none;
    border:0;
    line-height:40px;
    height: 50px !important;
}

#amount-contain {
    border-radius:5px;
    width:260px;
    padding-left:10px;
    margin-top:-4px;
}

#amount-contain-quote,#term-contain-quote {
    width:255px;
    padding-left:10px;
    font-size:24px;
    color:#666666;
    height:56px;
    vertical-align:top;
}

#amount-contain-quote span,#term-contain-quote span {
    margin-right:5px;
    display:inline-block;
}

#amount-contain-quote input[type=text] {
    width:200px !important;
    border:0;
    outline:none;
    color:#666666;
    height:40px !important;
}

#term-contain-quote input[type=text] {
    border:0;
    outline:none;
    color:#666666;
    height:40px !important;
}

#amount-contain-quote,#amount-not-sure,#term-contain-quote {
    display:inline-block;
}

#amount-contain-quote input[type=text]:hover,#term-contain-quote input[type=text]:hover  {
    outline:none;
}

#amount-not-sure-label {
    width:230px;
    height:56px !important;
    text-align:left;
    font-size:15px;
}

#finance-amount-slider {
    margin-top:10px;
}

#finance-length-slider {
    margin-top:5px;
}

#finance-length,#years {
    font-size:36px !important;
    margin-right:0 !important;
}




#calc-result {
    margin-left:auto;
    margin-right:auto;
}

#calc-box-right {
    background:url('../img/calc-back.png');
    background-repeat:no-repeat;
    background-position:left center;
    background-color:#f2f2f2;
    font-size:12px;
    font-weight:bold;
    height:390px;
}

#calc-box-right .btn {
    width:255px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:25px;
    font-size:14px;
}

#calc-box-right th {
    font-weight:normal;
    white-space:nowrap;
}

#calc-box-right table {
    width:302px;
    margin:0 auto;
    margin-top:32px;
}

#calc-box-right td {
    text-align:right;
    height:50px;
}

#calc-box-right p {
    text-align:center;
}

#calc-total-credit-cost,#calc-total-credit-cost,#calc-total-repayment {
    font-weight:bold;
}

#calc-number-payments {
    font-weight:bold !important;
    font-size:10px;
}

#calc-number-payments span {
    color:#ff9900;
    font-size: 13px;
}

#calc-monthly-cost {
    font-weight:bold;
}


.sign,.pence {
    font-size:16px;
    position:relative;
    top:-12px;
}

.pounds {
    font-size:32px;
}


#total-cost-row {
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
}



.colour-back {
    padding-top:110px;
    padding-bottom:70px;
    color:#ffffff;
    text-align:center;
}

.colour-back .btn {
    width:260px;
    border:1px solid #ffffff;
    border-radius:0;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:40px;
}


.col-form-label {
    color:#666666;
    font-size:15px;
    font-weight:bold;
    width:280px !important;
}



.ui-button {
    background-image:none !important;
    background-color:#ffffff;
    color:#666666;
    font-weight:normal;
    font-size:16px;
    height:58px;
    line-height:43px;
    min-width:75px;
}

.ui-state-active {
    background-image:none;
    border:0 !important;
    color:#ffffff;
}

.ui-state-active:focus,.ui-state-active:hover {
    outline:none !important;
    color:#000000 !important;
}

.ui-button:hover {
    background-image:none;
    background-color:#ffffff;
    border:1px solid black;
    color:#666666;
}

.ui-checkboxradio-checked {
    background-image:none;
    border:0;
    color:#ffffff !important;
    outline:none !important;
}

.ui-checkboxradio-label {
    width:106px;
    margin-right:12px;
}

.ui-checkboxradio-label:last-of-type {
    margin-right:0;
}


@media only screen and (max-width: 700px) {
    #footer li {
        display:block;
        margin-right:20px;
    }
}

#term-contain-quote input[type=text] {
    width:1ch;
    padding:0;
    text-align:right;
    margin-right:5px;
}

.btn-primary {
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 0.3rem;
}
}

.btn-primary:hover,.btn-primary:active {
    background-color:#e9ad45 !important;
    border:1px solid #e9ad45 !important;
}

#amount-contain {
    border:1px solid #ff9900;
}

#amount-contain-quote span {
    color:#ff9900;
}

#made-easy h2,#why-em h2 {
    color:#666666;
}

.colour-back,#heading .container,.ui-state-active,.ui-checkboxradio-checked,#getaddress_button {
    background-color:#ff9900;
}

input[type=range]::-webkit-slider-thumb {
    border: 3px solid #ff9900;
}

input[type=range]::-moz-range-thumb {
    border: 3px solid #ff9900;
}

input[type=range]::-ms-thumb {
    border: 3px solid #ff9900;
}

#calc-box {
    float:left;
    margin-top:40px;
    margin-left:60px;
}

#amount-contain span,#years {
    color:#ff9900;
}

@media only screen and (max-width: 1300px) {
    #stelios-box h2 {
        font-size:20px;
        margin-left:50px;
        margin-top:20px;
    }
}

@media only screen and (max-width: 1210px) {
    #stelios-box h2 {
        margin-left:120px;
        margin-top:0;
    }
}

@media only screen and (max-width: 1090px) {
    #stelios-box {
        display:none;
    }
}

@media only screen and (max-width: 900px) {
    #header {
        text-align:center;
        padding-top:0px !important;
        padding-bottom:20px !important;
        overflow:auto;
    }

    #header .container {
        height:auto;
    }

    #header .navbar-nav {
        display:inline;
        width:auto;
        float:none;
    }

    #header .nav-item {
        display:inline;
        float:left;
        margin-right:15px;
    }

    #header .nav-item a {
        font-size:12px;
    }

    #hero .container {
        background-image:none !important;
        background-color:#ffffff !important;
    }

    #calc-box {
        width:100% !important;
        float:none;
        margin:0 auto !important;
        height:auto !important;
    }

    #hero-left-spacer {
        display:none;
    }

    #headline-box {
        margin-left:auto;
        margin-right:auto;
    }

    #headline-box .btn,#calc-box-right .btn {
        width:300px;
    }

    #why-em-img-col-right {
        display:none;
    }

    #why-em-img-col-left {
        display:block;
        text-align:center;
    }


    #calc-box-left {
        padding:0;
        margin-bottom:10px;
    }

    section {
        padding-top:40px !important;
        padding-bottom:40px !important;
    }

    #calc-box-right {
        background-image: none;
        padding:0;
    }

    #calc-box-right .btn {
        margin:0 auto;
    }

    input[type=range] {
        width:300px;
    }

    #amount-contain {
        width:300px;
    }

    #calc-box-left input[type=text] {
        width:220px;
    }

    #hero {
        padding-top:0 !important;
        padding-bottom:0 !important;
    }

    #hero .container {
        min-height:250px;
    }

    #headline-box {
        margin-top:0;
    }

    #made-easy-img-col,#why-em-img-col-left {
        padding-bottom:40px;
    }

    #heading {
        padding-top:0px !important;
        padding-bottom:0px !important;
    }

    #heading .container {
        margin-top:0px;
        margin-bottom:0px;
    }

    #heading h1 {
        font-family: 'DM Serif Text', sans-serif;
        padding-left:0;
        font-weight:400;
    }

    #header-phone {
        float:none;
    }

    #calc-form,#calc-result {
        width:300px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    #application {
        padding-top:10px !important;
        padding-bottom:10px !important;
    }

    #application .col {
        padding-left:0;
        padding-right:0;
    }

    #application input[type=text],#application input[type=email] {
        width:100%;
    }

    #application select {
        width:95px;
        margin-right:2px;
        font-size:14px;
    }

    #application select:last-of-type {
        margin-right:0;
    }

    #application-form,#thanks-msg {
        margin-top:0px;
        padding-top:10px !important;
        padding-bottom:20px !important;
    }

    #application-form h1 {
        font-family: 'Francois One', sans-serif;
        font-size:32px;
        font-weight:700;
    }

    #application-form h2 {
        font-size:16px;
        margin-bottom:20px;
    }

    #amount-contain-quote,#term-contain-quote {
        width:100%;
        max-width:472px;
    }

    #amount-not-sure-label {
        margin-top:5px;
        width:100%;
        max-width:472px;
    }

    #getaddress_dropdown {
        width:320px;
    }

    #address-details p {
        margin-top:5px;
    }

    #application-form,#thanks-msg {
        padding:0 15px 0 15px;
    }

    .quote-submit {
        margin-top:30px;
    }

    .ui-checkboxradio-label {
        width:75px;
        margin-right:5px;
    }

    .ui-checkboxradio-label:last-of-type {
        margin-right:0;
    }
}

@media only screen and (max-width: 450px) {
    #header img {
        width:265px;
    }
}

.mt-10{
  margin-top: 21px;  
}
.selectdiv {
  position: relative;
  width: 100%;
  float: left;

}
.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome !important;
    color: #212529;
    right: 11px;
    top: -2px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}
.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;

  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #AAAAAA;
  -ms-word-break: normal;
  word-break: normal;
}
.amount-bx{
  border-top: 0px !important;
  border-right: 0px !important;  
  border-left: 0px !important; 
}
#finance-amount-slider:focus{
    outline: none !important;
}
.table-border-tr{
  border-bottom: 1px solid #ccc;  
}