/*
Theme Name: LogiPro - Child
Theme URI: http://logistics.freevision.me/
Author: freevision
Author URI: http://freevision.me/
Description: Create a world-class transport business website with a responsive design packed full of useful features, built to top standards, e-commerce ready & 6 months support.
Version: 1.8
Text Domain: logipro
Domain Path: /lang
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, translation-ready
Template: logipro
*/


.search-widget-inner[class] input.input-control {
     letter-spacing: 0!important;
}
.search-widget-inner select {
    border-bottom: none!important;
    background: #fff!important;
    color: #666666!important;
}
#departTime{
  letter-spacing: 0!important;
}
.dept_date_main{
  font-weight: 700;
  float: left;
}
.dept_date{
  color:#ff6600 !important;
}
.dept_next_day{
  border: 0;
  padding: 6px;
  min-width: 58px;
  text-align: center;
  background-color:#ff6600;
  color:#fff;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
  font-size: 14px;
}
.dept_diff_day{
  border: 0;
  padding: 6px;
  min-width: 58px;
  text-align: center;
  background-color:#ff6600;
  color:#fff;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
  font-size: 14px;
}
.data_loader img{
  margin-bottom: -22px;
}
.data_loader_main img{
  margin-bottom: -20px;
}
#searchDiffDate{
  width: 20px !important;
height: 20px;
position: absolute;
top: 5px;
left: 10px;
z-index: -1;
}
.d-none {
  display: none !important;
}

#main > .container.no-vc,
#main > .container {
  padding-left: 20px;
  padding-right: 5px;
}

.map-section[class] {
  background-repeat: repeat-x !important;
}

.travel-guide-icon {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}

.travel-guide-icon h2 {
  order: 2;
  font-size: 18px !important;
}

.travel-guide-icon figure img {
  width: 35px;
  margin-right: 15px;
}

.image-caption figcaption {
  position: absolute;
  bottom: -12px;
  background-color: #000000;
  font-size: 16px !important;
  padding: 2px 15px;
  color: #fff;
  right: 5px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 0 10px #333;
}

.text-bold-black strong {
  color: #707070 !important;
}

.bus-bullet ul {
  padding: 0 !important;
  margin: 15px 0 !important;
}

.bus-bullet ul li {
  list-style: none;
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;
  font-weight: 500;
}

.bus-bullet ul li:before {
  content: "";
  position: absolute;
  background-image: url(/wp-content/uploads/2019/01/bus-bullet.png);
  width: 15px;
  height: 16px;
  top: 5px;
  left: 0;
  background-size: cover;
}

.bus-bullet-cross ul li:before {
  background-image: url(/wp-content/uploads/2019/01/bus-bullet-cross.png);
  width: 20px;
  height: 21px;
  top: 3px;
}

.price-box {
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 15px 20px;
}

.price-box h4 {
  margin-bottom: 0;
  font-size: 15px !important;
}

.price-box p {
  padding-top: 0 !important;
}

.small-heading h5 {
  font-size: 15px !important;
  margin-bottom: 15px;
}

.table-content-break td {
  word-break: break-all;
}

#top-menu .dropdown-menu.sub-menu li:hover > ul {
  transform: translateX(-45%);
  right: 50%;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.19);
  margin-top: 1px;
}

#top-menu li:hover > ul {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19);
  border: 1px solid #9a9a9a;
  min-width: 0;
}

#top-menu ul ul li {
  height: auto !important;
}

#top-menu ul ul li a {
  line-height: 14px;
}

.CTA-box .ozy-gradient-call-to-action-box {
  display: none;
}

.text-gradient-box {
  max-width: 305px;
  min-height: 160px;
  left: 0px;
  bottom: 15px;
  padding: 20px !important;
  color: #ffffff !important;
  background: #ff6600 !important;
  border: none !important;
}

.text-gradient-box h2 {
  font-size: 11px !important;
  letter-spacing: 3px !important;
  color: #fff !important;
  font-weight: normal;
}

.text-gradient-box h4 {
  color: #fff !important;
}

.text-gradient-box a {
  font-family: "Libre Franklin";
  background-color: #fff !important;
  color: #444444 !important;
  border: 2px solid #ff6600 !important;
  height: 50px;
  font-weight: bold;
}

/*.text-gradient-box a:hover{
	color: rgb(255,255,255) !important;
    background-color: #ff6600 !important;
}*/
.home-route .box-size-regular {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 0.65) 99%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 0.65) 99%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 0.65) 99%,
    rgba(0, 0, 0, 0.65) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}

.home-route .box-size-regular[class] a h2 {
  font-weight: 500 !important;
  text-shadow: 1px 1px 3px #000;
}

.footer-links-container .title-with-icon > a {
  height: 70px;
  display: block;
}

#cookie-notice {
  padding: 1em 1.8em;
  visibility: visible;
}

.cookie-notice-container {
  display: flex;
  padding: 2px;
  align-items: center;
}

.cookie-notice-container #cn-notice-text {
  flex: 1;
  text-align: left;
  font-family: "Libre Franklin";
  font-size: 16px;
  line-height: 1.5em;
}

.cookie-notice-container #cn-notice-text a {
  opacity: 0.8;
  color: #fff;
  text-decoration: underline;
}

.cookie-notice-container #cn-notice-text a:hover {
  opacity: 1;
}

.cookie-notice-container #cn-accept-cookie,
.cookie-notice-container #cn-refuse-cookie {
  order: 3;
  font-family: "Libre Franklin";
  font-size: 14px;
  background-color: rgb(255, 102, 0);
  background-image: none !important;
  padding: 9px 0;
  font-weight: bold;
  text-shadow: none;
  width: 160px;
  border-radius: 5px;
}

.cookie-notice-container #cn-accept-cookie:hover {
  background-color: rgb(255, 140, 38);
  text-decoration: underline;
}

.cookie-notice-container #cn-refuse-cookie {
  background-color: transparent;
  order: 1;
  box-shadow: none;
  width: 70px;
}

.cookie-notice-container #cn-refuse-cookie:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
}

.search-container .post-content {
  width: 66.66666667%;
}

.search-container .booking-widget {
  width: 33.33333333%;
}

.search-container .booking-widget .widget {
  list-style: none;
  padding: 0 20px;
}

.page-pagination a.next-post-link,
.page-pagination a.previous-post-link {
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

#custom-footer.no-sidebar,
#custom-footer-tagline.no-sidebar {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  overflow: visible !important;
}

.custom-footer-container {
  background: #ffffff !important;
  font-family: "Libre Franklin";
  font-weight: 0;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0;
  text-transform: none;
  color: #707070;
}

.custom-footer-container .custom-footer {
  display: flex;
  flex-wrap: wrap;
}

.custom-footer-container .custom-footer > li {
  list-style: none;
  padding-top: 35px;
  width: 33.33%;
}

.custom-footer-container .custom-footer > li:last-child {
  flex: 1;
  width: 100%;
  border-top: 1px dotted #666666;
  padding: 45px 0 0;
}

.custom-footer-container .custom-footer > li .textwidget {
  padding: 35px 0;
  line-height: 20px;
  color: #a5a5a5;
}

.custom-footer-container .custom-footer > li:last-child .textwidget {
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  padding: 35px 0 68px;
}

.custom-footer-container .custom-footer > li:last-child .textwidget a {
  color: #444444;
}

.custom-footer-container .custom-footer > li:last-child .textwidget a:hover {
  text-decoration: underline;
}

.custom-footer-container h5 {
  color: #ff6600;
  font-size: 16px;
  margin: 10px 0;
  font-weight: 700;
}

.custom-footer-container ul {
  padding-left: 24px !important;
}

.custom-footer-container ul li {
  display: block;
  width: 100%;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-footer-container ul li a {
  display: block;
  padding: 5px 0;
}

.footer-heading {
  display: block;
  align-items: center;
  margin-bottom: 5px;
}

.footer-heading .span-icon {
  width: 50px;
  height: 80px;
  line-height: 90px !important;
  font-size: 50px !important;
  overflow: hidden;
  margin-right: 20px;
  color: #5aa5e6;
  display: block;
}

.footer-heading .span-icon:before {
  -webkit-text-fill-color: transparent;
  background: #ff6600;
  background: -moz-linear-gradient(top, #ff6600 0%, #dd8500 100%);
  background: -webkit-linear-gradient(top, #ff6600 0%, #dd8500 100%);
  background: linear-gradient(to bottom, #ff6600 0%, #dd8500 100%);
  -webkit-background-clip: text !important;
}

.footer-heading h1 {
  color: #444444;
  font-size: 20px;
  line-height: 20px;
}

.custom-footer-container
  .custom-footer
  > li:not(:last-child)
  .textwidget
  p
  > a {
  color: #727272;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  padding-left: 20px !important;
  padding-right: 28px;
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1)
  );
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1)
  );
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1)
  );
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  margin-top: 15px;
}

.custom-footer-container .custom-footer > li .textwidget a .fa {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 20px;
}

.custom-footer-container .custom-footer > li .textwidget {
  padding: 0 35px 55px 0;
  line-height: 20px;
  color: #a5a5a5;
}

.footer-tagline-container {
  background-color: #ff6600 !important;
}

.footer-tagline-container li {
  list-style: none;
  padding: 33px 0;
}

.footerhide {
  display: none;
}

.icon-with-text .span-icon[class] {
  height: auto !important;
  overflow: visible !important;
  line-height: initial !important;
}

.icon-with-text h3 {
  color: #ff6600 !important;
  font-size: 1.5em !important;
}

.icon-with-text .title-with-icon-content {
  margin-left: 82px;
}

/*#top-menu>div>div>ul > li.menu-item:nth-child(5) a {
    background: #000000;
    color: #ffffff!important;
}
#top-menu>div>div>ul > li.menu-item:nth-child(6) a {
	background: #000000;
    color: #ffffff!important;
}*/
.menu-item-wpml > a {
  pointer-events: none;
}

/*#infobulle .wrap-desc-markeur[class] {
    width: 100% !important;
    padding-left: 0!important;
}
#infobulle .description-marker[class]{
	color: #1A1A1A !important;
	margin: 0 0 8px 0 !important;
    font-size: 18px !important;
    line-height: 100% !important;
    font-weight: bold !important;
	    background-color: transparent!important;
    border: 0!important;
    padding: 0!important;
}*/
.gmwd-infowindow-title {
  font-weight: normal !important;
  font-size: 14px !important;
}

.caption-color .black-caption .gm-style-iw {
  background-color: #000 !important;
  border-radius: 0 !important;
  padding: 12px 30px 12px 12px !important;
}

.caption-color .black-caption .gm-style-iw .gm-style-iw-d {
  overflow: hidden !important;
}

/*.caption-color .black-caption > div > div > div:nth-child(3) > div > div {
    background-color: #000!important;
}*/
.caption-color .black-caption .gmwd-infowindow-title {
  color: #fff !important;
}

.caption-color .black-caption .gm-style-iw > button.gm-ui-hover-effect {
  width: 37px !important;
  height: 33px !important;
  background-color: #fff !important;
  top: 0 !important;
}

.caption-color .black-caption .gm-style-iw-t::after {
  border-top: 11px solid #000 !important;
}

#family-logo {
  position: absolute;
  width: 220px;
  top: 25px;
  left: 240px;
  display: block !important;
}

#family-logo img {
  height: auto !important;
  width: 100%;
}

#page-title-wrapper > div {
  top: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}

#content h5 {
  font-weight: 700;
  line-height: 1.8;
}
.popular-route-on-mobile {
  display: none;
}
.popular-route-on-desktop {
  display: block;
}

#page-title-wrapper h1,
#content h1,
#sidebar h1,
#footer h1,
#sidr h1,
.blog-heading-font,
.blog-heading-font * {
  font-family: "Libre Franklin" !important;
  font-weight: 700 !important;
  font-size: 26px !important;
  line-height: 1.3 !important;
  letter-spacing: 0 !important;
  text-transform: none !important;
}
#page-title-wrapper > div > h1 {
  padding-top: 12px;
}

/*for custom theme start*/
#content.without-sidebar[class] {
  width: 1140px;
  max-width: 100% !important;
}

.search-section {
  background-color: #f3f3f3;
  border-bottom: 1px solid #000;
  padding: 15px 10px;
  margin-bottom: 20px;
}

.search-section
  input:not([type="submit"]):not([type="button"]):not([type="file"]).custom-input,
select.custom-input,
textarea.custom-input {
  border: 1px solid #999 !important;
  height: 34px;
  color: #000 !important;
  letter-spacing: 0 !important;
  font-size: 12px;
  font-weight: 600;
  background-color: #fff;
  text-transform: uppercase;
}

#content
  .search-section
  input:not([type="submit"]):not([type="button"]):not([type="file"]).custom-input:hover,
select.custom-input:hover,
textarea.custom-input:hover,
#content
  .search-section
  input:not([type="submit"]):not([type="button"]):not([type="file"]).custom-input:focus,
select.custom-input:focus,
textarea.custom-input:focus {
  border: 1px solid #999 !important;
  color: #000 !important;
  background-color: #fff;
}

.search-section label {
  font-weight: 700;
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
  white-space: nowrap;
}

.search-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-inner > div:nth-child(1),
.search-inner > div:nth-child(2) {
  flex: 1;
  min-width: 185px;
}

.search-inner > div {
  margin: 0 5px;
}

.date-time-box {
  display: flex;
  position: relative;
}

.date-time-box > div:first-child {
  width: 100px;
}

.date-time-box:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 13px;
  right: 0;
  z-index: 1;
  background-color: #999;
  top: 42px;
  left: -10px;
  margin: 0 auto;
}

.date-time-box > div:last-child {
  width: 106px;
}

.date-time-box > div:last-child label {
  padding-left: 15px;
}

#content .date-time-box > div:first-child .custom-input {
  border-right: 0 !important;
}

#content .date-time-box > div:last-child .custom-input {
  border-left: 0 !important;
}

#content
  .search-section[class]
  .date-time-box
  > div:first-child
  input.custom-input:hover,
#content
  .search-section[class]
  .date-time-box
  > div:first-child
  input.custom-input:focus {
  border-right: 0 !important;
}

#content
  .search-section[class]
  .date-time-box
  > div:last-child
  input.custom-input:hover,
#content
  .search-section[class]
  .date-time-box
  > div:last-child
  input.custom-input:focus {
  border-left: 0 !important;
}

.search-inner .seats {
  width: 95px;
}

#content input.btn.btn-black {
  background-color: #000 !important;
  border: 1px solid #000 !important;
  padding: 0 20px !important;
  height: 34px !important;
  border-radius: 0 !important;
  margin-left: 3px;
  margin-top: 27px;
  letter-spacing: 0px !important;
  font-size: 11px !important;
  color: #fff !important;
  margin-right: 3px;
}

#content #app input.btn.btn-black {
  margin-top: 0;
}

.ticket-type-btn {
  line-height: 1;
  margin-bottom: 10px;
  margin-left: 5px;
}

.ticket-type-btn input {
  opacity: 0;
  position: absolute;
  top: 0;
}

.ticket-type-btn input:checked + label {
  color: #ff6600;
}

.ticket-type-btn label {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #000;
  cursor: pointer;
}

.ticket-type-btn label:last-child {
  border-right: none;
}

.sml-heading {
  color: #ff6600;
  text-align: left;
}

.mb-35 {
  margin-bottom: 35px;
}

.features-section {
  border-top: 1px dotted #d6d6d6 !important;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px dotted #d6d6d6 !important;
}
h5.feature-title {
  color: #636363 !important;
}
.features-section .box {
  text-align: center;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
}

.features-section .feature-icon {
  margin-bottom: 30px;
}
.page-content p:empty,
.post-content p:empty {
  display: none;
}
.sep_line {
  border-top: 2px solid #e7e7e7;
  margin: 10px 0;
}

.why-travel-bus {
  margin-top: 35px;
}

.route-boxes {
  display: flex;
  justify-content: space-between;
}

.route-boxes .route-box {
  margin-right: 30px;
  max-width: 25%;
}

.route-boxes .route-box:last-child {
  margin-right: 0;
}

.route-boxes .route-box img {
  max-width: 100%;
}

.popular-routes-links {
  background: #e2e2e2
    url(https://staging-geyemeka.kinsta.cloud/wp-content/uploads/2018/12/curves_bgjpg-1.jpg?id=2004) !important;
  display: flex;
  padding: 35px 0 0;
  flex-flow: column;
}

.routes-links {
  width: 100%;
  margin-bottom: 20px;
}

.routes-links li {
  list-style: none;
  width: 33.33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.routes-links .sml-heading {
  margin-bottom: 5px;
  color: #707070 !important;
}
ul#originRouteList,
ul#departureRouteList {
  display: flex;
  flex-wrap: wrap;
}

.bus-logos {
  margin-top: 35px;
  margin-bottom: 35px;
}

.bus-logos img {
  max-width: 100%;
}

.easyBus-owner figure {
  margin-right: 30px;
}

.easyBus-owner {
  display: flex;
  margin-bottom: 35px;
}

.easyBus-owner .content-section,
.easyBus-owner figure {
  max-width: 50%;
  flex-basis: 50%;
}
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 6px 0;
}
.about-easyBus {
  background: #e2e2e2
    url(https://staging-geyemeka.kinsta.cloud/wp-content/uploads/2018/12/curves_bgjpg-1.jpg?id=2004) !important;
  margin-top: 35px;
  padding: 35px 0;
}

.copyright-text {
  margin-top: 35px;
}

/*slick slider start*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0px;
}

/*slick slider end*/

.datestrip {
  height: 75px;
  overflow: hidden;
  position: relative;
}

.datestrip .slick-list {
  overflow: visible;
}

.datestrip .slick-prev {
  height: 30px;
  width: 30px;
  background-color: #ff6600;
  border-radius: 50%;
  left: -12px;
}

.datestrip .slick-next {
  right: -12px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ff6600;
}

.datestrip .slick-next:after {
  content: "▶︎";
  color: #ffffff;
  position: relative;
  right: 3px;
  top: 0.3px;
  font-size: 10px;
}

.datestrip .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 6px;
  border: none;
}

.datestrip span {
  display: block;
  color: #676767;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.datestrip span.datestrip__day {
  font-size: 12px;
  font-weight: 400;
}

.datestrip-slider {
  position: relative;
  text-align: center;
  border-radius: 2px;
  margin: 10px 0 0;
  border: 2px solid #ff6600;
  background-color: #ffffff;
}

.datestrip__item {
  cursor: pointer;
  padding: 6px 0 7px;
  border-radius: 4px;
  -webkit-transition: 0.2s background-color, 0.34s -webkit-transform;
  transition: 0.2s background-color, 0.34s transform;
}

.datestrip__content {
  border-right: 1px solid #e0e0e0;
  position: relative;
  left: 1px;
}

.datestrip__item--active {
  background-color: #4a4a4a !important;
  -webkit-transform: scale(1.22);
  transform: scale(1.22);
}

.datestrip__item--active span {
  color: #ffffff;
}

.datestrip__item--inactive span {
  color: #c8c8c8;
}

.datestrip .slick-arrow {
  top: 10px;
}

.datestrip .slick-prev:after {
  content: "◀︎";
  color: #ffffff;
  position: relative;
  left: 3px;
  top: 0.3px;
  font-size: 10px;
}

.datestrip span {
  font-size: 16px;
  line-height: 18px;
}

.datestrip span.datestrip__day {
  font-size: 14px;
}

.sort {
  display: flex;
  align-items: center;
}

.sort > i {
  display: none;
}

.sort span {
  color: #757575;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px;
}

.sort ul {
  position: relative;
}

.sort ul li {
  font-size: 12px;
}

.sort ul li a {
  white-space: nowrap;
  display: block;
  color: #f5f5f5 !important;
  padding: 6px 25px 6px 15px;
  cursor: pointer;
}

.sort ul li a:hover {
  color: #ff6600 !important;
}

.sort ul ul {
  display: none;
  padding: 7px 0;
  z-index: 19;
  position: absolute;
  left: 0;
  top: 33px;
  border-radius: 2px;
  background-color: #363636;
}

.sort button {
  font-weight: 700;
  font-size: 14px;
}

.sort button div {
  display: inline-block;
}

button:focus {
  outline: none;
}

.filter-date-sort {
  display: flex;
  justify-content: flex-end;
}

.filter-date-sort .search-filter {
}

.filter-date-sort .date-slider {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  padding-right: 15px;
}

.filter-date-sort button {
  border: 0;
  padding: 6px;
  min-width: 58px;
  text-align: center;
  background-color: #ff6600;
  color: #fff;
  border-radius: 4px;
}

.filter-date-sort ol,
.filter-date-sort ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-date-sort a {
  text-decoration: none;
}

.filter-date-sort *:focus {
  outline: none;
}

.accordion-container {
  position: relative;
  height: auto;
  margin-top: 12px;
}

.accordion-container > h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.set {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.set:nth-child(odd) {
  background-color: #fff;
}

.set > a {
  display: block;
  padding: 18px 25px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
}

.set > a > i {
  font-size: 12px;
  height: 18px;
  width: 18px;
  position: absolute;
  left: -8px;
  transition: 0.2s background-image;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
}

.set > a.active {
  background-color: #ff6600;
  color: #fff !important;
}

.content {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: none;
}

#app .content {
  display: block;
  min-height: auto !important;
}

.content p {
  padding: 10px 15px;
  margin: 0;
  color: #333;
}

#content.route-page {
  overflow: visible;
}

.routes-button {
  display: flex;
  align-items: center;
}

.routes-list__info {
  font-size: 12px;
  text-align: left;
  font-weight: 600;
}

.routes-list__start > div {
  width: 142px;
}

.routes-list .routes-button.collapsed .date {
  color: #000 !important;
}

.routes-list .card-header .routes-button .date {
  color: #fff !important;
}

.routes-list__start .divider {
  font-weight: 100;
  -webkit-transition: none !important;
  transition: none !important;
}

.routes-list .routes-button.collapsed .time {
  color: #f60;
}

.routes-list a .routes-button .time {
  color: #f60;
}

.routes-list .routes-button .destination-station-holder,
.routes-list .routes-button .departure-station {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.routes-list .routes-button .departure-station {
  max-width: 160px;
}

.routes-list__duration {
  margin: 0 24px 0 14px;
  text-align: center;
  width: 100px;
}

.routes-list .routes-button .routes-list__duration span:first-child {
  margin-top: 5px;
}

.routes-list .routes-button .routes-list__duration span {
  color: #fff;
}

.routes-list .routes-button .routes-list__duration > span {
  display: block;
  font-size: 12px;
  line-height: 12px;
}

.routes-list__duration > span:first-child {
  margin-top: 5px;
}

.routes-list__duration .divider,
.routes-list__duration .divider > span,
.routes-list__duration > span {
  display: block;
  font-size: 12px;
  line-height: 12px;
}

.routes-list .routes-button .routes-list__duration .divider {
  display: block;
  font-size: 12px;
  line-height: 12px;
  height: 5px;
}

.routes-list .routes-button .routes-list__duration .divider span:nth-child(1) {
  float: left;
  right: 4px;
  bottom: 6px;
}

.routes-list .routes-button .routes-list__duration .divider > span {
  display: block;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}

.routes-list .routes-button .routes-list__duration span:first-child {
  margin-top: 5px;
}

.routes-list a .routes-button .routes-list__duration span {
  color: #676767;
}

.routes-list__duration .divider span:nth-child(1) {
  float: left;
  right: 4px;
}

.routes-list__duration .divider,
.routes-list__duration .divider > span,
.routes-list__duration > span {
  display: block;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}

.routes-list
  a
  .routes-button
  .routes-list__duration
  .divider
  span:nth-child(2) {
  background-color: #828282;
  height: 1px;
  width: 100%;
  margin-top: 4px;
}

.routes-list a .routes-button .routes-list__duration .divider span:nth-child(1),
.routes-list
  a
  .routes-button
  .routes-list__duration
  .divider
  span:nth-child(3) {
  border: 1px solid #828282;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  display: inline-block;
  bottom: 6px;
  position: relative;
}

.routes-list .routes-button .routes-list__duration .divider span:nth-child(3) {
  float: right;
  left: 4px;
  top: -2px;
}

.routes-list .routes-button .routes-list__changes_icon {
  border-radius: 50%;
  background-color: #f60;
  color: #fff !important;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  margin: 0 5px 0 0;
  margin-top: 0px !important;
  font-family: Facit, sans-serif;
  display: inline-block;
}

.routes-list .routes-button p {
  color: inherit;
  padding: 0 !important;
}

.routes-list p {
  margin-bottom: 0 !important;
}

.routes-list .routes-button .routes-list__finish span:nth-child(3),
.routes-list .routes-button .routes-list__finish .time {
  color: #f60;
}

.routes-list__finish {
  max-width: 200px;
  margin-right: 20px;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

.routes-list__finish .destination-station {
  white-space: nowrap;
}

.routes-list .card-header > .routes-button .destination-station-holder {
  width: 200px;
  max-width: 200px;
}

.routes-list .routes-button .destination-station-holder,
.routes-list .routes-button .departure-station {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.routes-list .routes-button .destination-station-holder {
  max-width: 160px;
  min-width: 160px;
}

.routes-list__extra--1 {
  width: 260px;
  margin-right: 0 !important;
  min-height: 1px;
  display: flex;
  align-items: center;
}

.routes-list .routes-button .routes-list__mobile {
  color: #fff;
  border-color: #d2d2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.routes-list__mobile > svg {
  margin: 0 1px 0px 0px;
  display: inline-block;
  height: 47px;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
  width: 40px;
}

.routes-list .routes-button .routes-list__mobile > svg {
  fill: #f60;
}

.routes-list__extra--1 > span:first-child {
  float: left;
  display: inline-block;
  white-space: nowrap;
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.routes-list__mobile {
  display: block;
  color: #fff;
  width: 85px;
}

.routes-list__mobile > span {
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
  color: inherit !important;
}

.routes-list__rating {
  text-transform: uppercase;
  display: inline-block;
  min-width: 145px;
  float: right;
  margin-left: 10px;
  margin-right: 15px;
}

.company-letter-code {
  width: 145px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.routes-list .routes-button .routes-list__price {
  border-color: #d2d2d2;
  min-height: 63px;
  position: relative;
  -webkit-transition: 0.2s border-color;
  transition: 0.2s border-color;
}

.routes-list__price .route-price-amount {
  text-align: center;
  position: relative;
}

.routes-list a .routes-button .currency {
  color: #f60;
}

.routes-list a .routes-button .routes-list__price .route-price-amount-group {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 15px;
  color: #676767;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 2px;
  align-items: baseline;
}

.route-price-amount-group span {
  width: 9px;
  margin-left: 2px;
}

.search-results .btn.compact-button {
  padding-left: 4px !important;
  padding-right: 4px !important;
  font-size: 12px !important;
  white-space: normal;
  display: block !important;
  margin: -24px 0 0 0px !important;
}
.search-results .btn.compact-button:hover,
.search-result .btn.compact-button:hover {
  background-color: #ff6600 !important;
}
.routes-list .card-header > .routes-button .routes-list__price .cheapest-price {
  top: 19px !important;
}

.routes-list__cta.routes-list__cta--operator {
  font-size: 12px;
  max-width: 100px;
  text-align: center;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 14px !important;
  font-family: "Libre Franklin";
}

header .btn {
  float: left;
  margin: 5px 0 0 25px;
  padding: 11px 17px;
  border-radius: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.btn--buy-from-partner {
  background-color: #000;
}

.routes-list .set > a.active .routes-button .date,
.routes-list .set > a.active .routes-button .time,
.routes-list .set > a.active .routes-button .routes-list__duration span,
.routes-list
  .set
  > a.active
  .routes-button
  .routes-list__finish
  span:nth-child(3),
.routes-list .set > a.active .routes-button .routes-list__finish .time,
.set > a.active .routes-list__mobile > span,
.routes-list .set > a.active .routes-button .currency,
.routes-list
  .set
  > a.active
  .routes-button
  .routes-list__price
  .route-price-amount-group {
  color: #fff !important;
}

.routes-list .set > a.active .routes-button[class] .routes-list__changes_icon {
  background-color: #fff;
  color: #f60 !important;
}

.routes-list .set > a.active .routes-button .routes-list__mobile > svg {
  fill: #fff;
}

.routes-list
  .set
  > a.active
  .routes-button
  .routes-list__duration
  .divider
  span:nth-child(2) {
  background-color: #fff;
}

.routes-list
  .set
  > a.active
  .routes-button
  .routes-list__duration
  .divider
  span:nth-child(1),
.routes-list
  .set
  > a.active
  .routes-button
  .routes-list__duration
  .divider
  span:nth-child(3) {
  border: 1px solid #fff;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

#content .card-body table th,
#content .card-body table td {
  border: none;
}

.routes-list .panel-body__inner {
  background-color: #fff;
}

.routes-list table.route-suggestion-additional {
  width: 100%;
  table-layout: fixed;
}

.routes-list table.route-suggestion-additional > tbody > tr > td {
  position: relative;
  border: none !important;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  > tr.additional-content-top-search-results
  > td {
  height: 102px;
  width: 24%;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  > tr.additional-content-top
  > td:nth-child(1) {
  width: 13%;
  min-width: 133px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-1
  > span {
  position: absolute;
  left: 0;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-1
  .suggestion-row-1 {
  top: 0;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .route-suggestion-rounded-button {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0 10px;
  color: #7a7a7a;
  font-size: 12px;
  border: 1px solid #dfdfdf;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-1
  .suggestion-row-2 {
  top: 39px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-1
  .suggestion-row-3 {
  top: 81px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  > tr.additional-content-top
  > td:nth-child(2) {
  vertical-align: top;
  width: 35%;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  > span {
  position: absolute;
  left: 30px;
  top: 0;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .route-suggestion-circle {
  border: 2px solid gray;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .route-suggestion-circle.suggestion-row-1 {
  top: 4px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .line-green {
  background-color: #f60;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .route-suggestion-vertical-line {
  height: 36px;
  width: 1px;
  position: absolute;
  left: 7px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .route-suggestion-vertical-line.suggestion-row-1 {
  top: 19px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .route-suggestion-bus-icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  background-color: #f60;
  left: -2px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 0px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .route-suggestion-bus-icon.suggestion-row-2 {
  top: 41px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .route-suggestion-vertical-line.suggestion-row-2 {
  top: 51px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .route-suggestion-circle.suggestion-row-3 {
  top: 85px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .suggestion-row-3 {
  top: 81px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-2
  .suggestion-row-1
  > span {
  display: block;
  height: 25px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  > tr.additional-content-top
  > td:nth-child(3) {
  vertical-align: top;
  width: 27%;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-3
  .route-suggestion-vertical-line {
  height: 102px;
  width: 1px;
  position: absolute;
  left: 15px;
}

.routes-list table.route-suggestion-additional > tbody .line-gray {
  background-color: #ececec;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-3
  .route-suggestion-vertical-line:first-child {
  top: 2px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-3
  > span {
  position: absolute;
  left: 40px;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-3
  .suggestion-row-1 {
  top: 35px;
  cursor: pointer;
}

.routes-list
  table.route-suggestion-additional
  > tbody
  .suggestion-col-3
  .suggestion-row-1
  .operator-logo
  img {
  max-width: 100px;
  height: auto;
}

.routes-list table.route-suggestion-additional-2 {
  width: 100%;
  margin-top: 10px;
  padding: inherit;
  margin: 0 !important;
}

.ticket-print-info {
  position: relative;
  border: none !important;
  border-top: 2px dashed #ccc !important;
  padding: 10px 0px 0;
  font-size: 14px;
  bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ticket-print-info div:first-child {
  display: block;
  width: calc(100% - 100px);
  line-height: 20px;
}

.ticket-print-info .m-ticket-holder {
  font-weight: 500;
  color: #000;
}

.ticket-print-info svg {
  color: #f60;
  font-size: 20px;
  vertical-align: -0.2em;
  width: 14px !important;
  margin-right: 3px;
}

.ticket-print-info .m-ticket-holder-info {
  fill: #f60;
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
  margin: 0 6px 0px 5px;
  width: 10px !important;
}

.ticket-print-info span:last-child {
  color: #757575;
  font-size: 13px;
  text-transform: capitalize !important;
}

.ticket-print-info .route-price-amount {
  font-size: 19px;
  font-weight: bold;
}

.ticket-print-info .route-price-amount .currency {
  font-size: 15px;
  color: #f60;
  font-weight: normal;
}

.waiting-line .waiting-block {
  height: 65px;
  margin-top: 12px;
  margin-bottom: -4px;
  padding: 24px 5px;
  position: relative;
  z-index: 1;
}

.waiting-line .line-waiting {
  border-bottom: 1px dashed #f60;
  position: relative;
}

.waiting-line .line-waiting::before {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 150px;
  background: linear-gradient(to right, #fff 0%, rgba(0, 0, 0, 0) 100%);
}

.waiting-line .line-waiting::after {
  content: "";
  position: absolute;
  right: 0;
  height: 2px;
  width: 150px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #fff 100%);
}

.waiting-line .boxes {
  margin-top: -14px;
  white-space: nowrap;
  text-align: center;
}

.waiting-line .box-waiting {
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 6px 14px;
  font-size: 11px;
  border: 1px solid #f60;
  background: #fff;
  white-space: nowrap;
  position: relative;
  color: #f60;
}

.show-on-mobile {
  display: none;
}

.datepicker-panel {
  font-family: "Libre Franklin";
}

.datepicker-panel ul:first-child li:first-child {
  background-color: #f60;
  color: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin: 5px;
  display: flex;
  justify-content: center;
  font-size: 26px;
  line-height: 18px;
}

.datepicker-panel ul:first-child li:last-child {
  background-color: #f60;
  color: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin: 5px;
  display: flex;
  justify-content: center;
  font-size: 26px;
  line-height: 18px;
}

.ticket-type-dropdown {
  width: 100%;
  text-align: left;
  border-radius: 0;
  height: 34px;
  line-height: 32px;
  font-size: 14px;
  position: relative;
  padding: 0 30px;
  border: 1px solid #999;
  background-color: #ffffff;
  color: #666666;
}

.ticket-type-dropdown .user-icon {
  font-size: 20px;
  position: absolute;
  left: 8px;
  top: 8px;
}

.ticket-type-dropdown .ticket-count {
  font-weight: bold;
}

.ticket-type-dropdown .down-arrow-icon {
  position: absolute;
  top: 8px;
  right: 10px;
}

.ticket-type-option {
  position: absolute;
  right: 0;
  width: 195px;
  top: 40px;
  margin-left: 0;
  z-index: 99;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  font-size: 13px;
  font-weight: bold;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #999;
}

.jquery-select-step {
  display: inline-block;
}

.select-step {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  -webkit-appearance: none;
  visibility: hidden;
}

.jquery-select-step-element {
  position: relative;
  display: inline-block;
  padding: 2px 35px;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.jquery-select-step-element > div {
  display: inline-block;
}

.decrementStep,
.incrementStep {
  position: absolute;
  width: 25px;
  left: 0;
  top: 0;
  padding: 2px;
  text-align: center;
  border-right: 1px solid #d5d5d5;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  cursor: pointer;
}

.incrementStep {
  left: auto;
  right: 0;
  border-right: 0;
  border-left: 1px solid #d5d5d5;
}

.position-relative {
  position: relative;
}

.ticket-type-option:before,
.ticket-type-option:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  right: 20px;
  margin-left: -3px;
}

.ticket-type-option:before {
  border-bottom-color: #000;
  top: -7px;
}

ul.show {
  display: block !important;
}

.pre-spin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
}

.pre-spin img {
  width: 90px;
}

#content table th,
#content table td {
  line-height: 1.7;
  color: #707070;
}

.journey-section .sml-heading {
  margin-bottom: 10px;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  font-weight: 500;
}

.alert svg {
  width: 20px;
  margin-right: 10px;
}

/*Autocomplete Css Override*/
.easy-autocomplete input {
  border-radius: 0px !important;
}

.autocomplete-description {
  color: #aaa;
  font-style: italic;
  font-size: 0.9em;
}
li.menu-item.menu-item-wpml.dropdown.has-sub {
  display: none !important;
}
.search-result-section {
  padding: 1px 15px 0;
  background-image: url(https://staging-geyemeka.kinsta.cloud/wp-content/uploads/2018/12/curves_bgjpg.jpg?id=2002) !important;
  margin-top: 35px;
}
.mt-0 {
  margin-top: 0;
}
.location-info-section {
  display: flex;
  justify-content: space-between;
}
.location-img-row,
.location-info-row {
  margin-bottom: 0;
}
.location-info-column {
  margin-right: 30px;
  max-width: 50%;
}
.location-img-wrap {
  width: 100%;
  height: auto;
  max-height: 250px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.location-img {
  display: block;
  width: 100%;
  height: 295px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.location-figure-caption {
  margin-top: 0.2em;
  font-size: 0.8em;
}
.show-read-more .more-text {
  display: none;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  width: 100%;
}
.pagination > li {
  display: inline;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 10px;
  font-size: 13px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
}
.pagination > li > a.prev_link {
  float: left;
}
.pagination > li > a.next_link {
  float: right;
}
/*for custom theme end*/

@media (max-width: 1200px) {
  .custom-footer-container .custom-footer > li .textwidget {
    padding: 0 15px 55px;
  }

  .footer-tagline-container {
    padding: 0 15px;
  }

  .custom-footer-container .custom-footer > li:last-child {
    margin: 0 15px;
  }

  .routes-list__info {
    margin-right: 10px;
  }

  .routes-list__duration {
    margin-left: 0;
  }
}

@media (max-width: 1240px) {
  #family-logo {
    left: 160px;
    top: 12px;
  }
}

@media (max-width: 1180px) {
  #top-menu .logo > a {
    margin-top: -5px;
  }

  .logo a {
    display: none;
  }

  #head-mobile {
    display: none !important;
  }

  #top-menu .logo {
    z-index: 9;
  }

  #top-menu .logo {
    width: 70% !important;
  }
}

@media (min-width: 991px) {
  .routes-list__start div:first-of-type {
    min-width: 200px;
  }
}
@media (min-width: 767px) {
  #vmenu {
    display: block !important;
  }
  .rightbar-iframe {
    display: none;
  }
}

@media screen and (max-width: 1180px) {
  #main[class] {
    padding-top: 60px !important;
  }

  #page-title-wrapper {
    height: auto !important;
    min-height: 0 !important;
  }

  #page-title-wrapper > div {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0);
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .buy-button-holder[class] .routes-list__cta {
    position: relative;
    margin-top: 0 !important;
    left: 1px;
    white-space: nowrap;
    width: auto;
    max-width: initial;
    padding: 7px;
  }

  .routes-button {
    flex-wrap: wrap;
  }

  .routes-list
    table.route-suggestion-additional
    > tbody
    > tr.additional-content-top
    > td:nth-child(1) {
    width: 20%;
  }
}

@media (max-width: 992px) {
  .search-inner > div {
    flex-basis: 48% !important;
    max-width: 48%;
  }

  .search-inner .seats {
    flex-basis: 100% !important;
    max-width: 100%;
  }

  #content input.btn.btn-black {
    width: 100%;
    margin-top: 18px;
  }

  .date-time-box > div:first-child {
    width: 50%;
  }

  .date-time-box > div:last-child {
    width: 50%;
  }

  .date-time-box:after {
    right: auto;
    left: 45%;
  }

  .features-section {
    background-repeat-y: no-repeat !important;
    background-size: contain;
    flex-direction: column;
  }

  .filter-date-sort {
    flex-direction: column-reverse;
  }

  .filter-date-sort .date-slider {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0px;
  }

  .filter-date-sort .search-filter {
    padding-left: 0;
  }

  .sort {
    margin: 0px 25px 10px 0;
  }

  .routes-list .routes-button .departure-station,
  .routes-list .routes-button .destination-station-holder {
    max-width: 140px;
  }

  .routes-list .routes-button {
    padding: 10px 11px 10px 11px;
    min-height: 128px;
  }

  .routes-list__info {
    font-size: 14px;
    font-weight: normal;
  }

  .routes-list .routes-button .date {
    position: absolute;
    left: 184px;
    font-size: 14px;
    font-weight: 700;
    top: 8px;
  }

  .routes-list__start .date,
  .routes-list__start .divider,
  .routes-list__finish .date,
  .routes-list__finish .divider {
    display: none;
  }

  .routes-list .routes-button .routes-list__start .divider {
    padding-left: 39px;
    top: -1px;
    position: relative;
  }

  .routes-list .routes-button .routes-list__start .time {
    position: absolute;
    left: 10px;
    font-size: 13px;
    font-weight: 700;
  }

  .routes-list .routes-button .departure-station {
    position: absolute;
    left: 24px;
    top: 39px;
    max-width: 76%;
    font-size: 13px;
  }

  .routes-list__info {
    font-size: 14px;
    font-weight: normal;
  }

  .routes-list .routes-button .routes-list__duration > span:first-child,
  .routes-list .routes-button .routes-list__duration > span.fastest-route {
    position: absolute !important;
    left: 111px;
    top: 11px;
  }

  .routes-list
    .routes-button
    .routes-list__duration
    > span
    .routes-list__changes_text {
    position: absolute;
    left: auto !important;
    padding-left: 10px;
    bottom: 12px;
    right: 10px;
  }

  .routes-list__finish {
    margin-right: 10px !important;
  }

  .routes-list .routes-button .routes-list__finish span,
  .routes-list .routes-button .routes-list__finish .time {
    position: absolute;
    left: 63px;
    font-size: 13px;
    font-weight: 700;
  }

  .routes-list .routes-button .destination-station-holder {
    position: absolute;
    left: 24px;
    top: 66px;
    max-width: 76%;
    width: auto;
    font-size: 13px;
  }

  .routes-list .routes-button .routes-list__mobile {
    display: none !important;
  }

  .routes-list .routes-button .routes-list__rating {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 10px;
    margin: 0;
  }

  .routes-list .routes-button .routes-list__price {
    position: absolute;
    right: 10px;
    font-size: 16px;
    font-weight: 700;
  }

  .routes-list .buy-button-holder {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .routes-list .routes-list__cta.routes-list__cta--operator {
    max-width: 140px;
    padding: 6px;
  }

  .routes-button {
    align-items: flex-start;
  }

  .set > a {
    padding: 0;
  }

  .routes-list .routes-button .routes-list__duration .divider {
    position: absolute;
    width: 24px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 1px;
    top: 62px;
  }

  .routes-list
    .routes-button
    .routes-list__duration
    .divider
    span:nth-child(1) {
    bottom: -3px !important;
    margin: 0;
  }

  .routes-list
    .routes-button
    .routes-list__duration
    > span
    .routes-list__changes_icon {
    bottom: 10px;
    font-weight: 700;
    position: absolute;
    right: 82px;
  }

  .set > a > i {
    display: none;
  }

  .card-body {
    padding: 10px;
  }

  .routes-list .panel-body__inner {
    border: 1px solid #dfdfdf;
    padding: 0;
  }

  .routes-list table.route-suggestion-additional {
    margin: 10px 10px 0px;
    width: calc(100% - 20px);
  }

  .routes-list
    table.route-suggestion-additional
    > tbody
    > tr.additional-content-top
    > td:nth-child(1) {
    width: 0;
  }

  .routes-list
    table.route-suggestion-additional
    > tbody
    .suggestion-col-1
    .suggestion-row-1,
  .routes-list
    table.route-suggestion-additional
    > tbody
    .suggestion-col-1
    .suggestion-row-3 {
    display: none;
  }

  .routes-list
    table.route-suggestion-additional
    > tbody
    .suggestion-col-1
    > span {
    left: 30px;
    width: 100px;
  }

  .routes-list
    table.route-suggestion-additional
    > tbody
    > tr.additional-content-top
    > td:nth-child(2) {
    width: 40%;
  }

  .routes-list
    table.route-suggestion-additional
    > tbody
    .suggestion-col-2
    > span {
    width: 100%;
  }

  .routes-list
    table.route-suggestion-additional
    > tbody
    .suggestion-col-2
    .suggestion-row-1
    > span,
  .routes-list
    table.route-suggestion-additional
    > tbody
    .suggestion-col-2
    .suggestion-row-3
    > span {
    height: 20px;
    max-width: 82%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
  }

  .routes-list table.route-suggestion-additional > tbody .suggestion-col-3 {
    right: 10px;
  }

  .routes-list
    table.route-suggestion-additional
    > tbody
    .suggestion-col-3
    .suggestion-row-1
    .operator-logo
    img {
    max-width: 80px;
    height: auto;
  }

  #footer > footer > .container,
  #footer-widget-bar > .container,
  #page-title-wrapper > div,
  #main > .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
    /* width: 1180px; */
  }

  .route-boxes {
    flex-wrap: wrap;
  }

  .route-boxes .route-box {
    max-width: 48%;
    margin: 0;
    width: 48%;
    margin-bottom: 20px;
  }

  .route-boxes .route-box:nth-child(odd) {
    margin-right: 20px;
  }

  .route-boxes .route-box img {
    width: 100%;
  }
  #page-bread-crumbs-share-bar {
    width: calc(100% - 20px) !important;
  }
}
@media (max-width: 991px) {
  #app .content {
    padding: 0 !important;
  }
}
@media (max-width: 767px) {
  .home #main[class] {
    padding-top: 60px !important;
  }

  #content .route-details-section h1[class] {
    font-size: 20px !important;
    margin-top: 8px;
  }
  #page-breadcrumbs {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .route-details-section .routes > span {
    font-size: 12px;
  }

  #page-bread-crumbs-share-bar > span.content-font {
    display: none;
  }

  #page-breadcrumbs li {
    font-size: 1rem;
  }

  #page-bread-crumbs-share-bar {
    margin-bottom: 0;
  }

  #vmenu li {
    float: none !important;
  }

  .rightbar-section h5 {
    margin: 1px 0 !important;
    color: #fff !important;
    background-color: #f60;
    padding: 3px 3px 3px 40px;
    position: relative;
    line-height: 1.8 !important;
  }

  .rightbar-section h5:first-child:before {
    font-family: FontAwesome !important;
    content: "\f090";
    position: absolute;
    left: 10px;
    top: -2px;
    transform: rotate(90deg);
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
  }

  .rightbar-section h5:nth-of-type(2):before {
    content: "\f145";
    position: absolute;
    left: 10px;
    top: -2px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    font-family: FontAwesome !important;
  }

  .rightbar-section #vmenu {
    margin-bottom: 10px;
  }

  .rightbar-section .wpb_widgetised_column ul li:first-child,
  .rightbar-section .wpb_widgetised_column ul li:nth-child(2) {
    display: none;
  }

  .bookingiframe {
    display: none;
    margin-bottom: 0 !important;
  }

  .bookingiframe1[class] {
    margin-bottom: 0 !important;
  }

  .ozy-page-model-full
    #content
    .page-content
    .vc_column_container
    > .vc_column-inner {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .wpb_button,
  .wpb_content_element,
  ul.wpb_thumbnails-fluid > li {
    margin-bottom: 15px !important;
  }

  .page-share-buttons {
    position: absolute;
    top: 18px;
    right: 55px;
  }

  .search-container {
    flex-direction: column;
  }

  .search-container .post-content,
  .search-container .booking-widget {
    width: 100%;
  }

  .custom-footer-container .custom-footer > li {
    width: 100%;
  }

  .custom-footer-container .custom-footer > li .textwidget {
    padding: 0 15px;
  }

  .custom-footer-container .custom-footer > li:last-child {
    padding: 45px 15px 0;
    margin-top: 30px;
  }

  .icon-with-text .title-with-icon-content {
    margin-left: 0;
    margin-top: 15px !important;
  }

  #cookie-notice {
    display: none !important;
  }

  .route-boxes .route-box {
    max-width: 100%;
    margin-right: 0 !important;
    width: 100%;
  }

  .popular-routes-links {
    margin-top: 0;
  }

  .easyBus-owner {
    flex-direction: column;
  }

  .easyBus-owner .content-section,
  .easyBus-owner figure {
    max-width: 100%;
    flex-basis: 100%;
  }

  .search-filter {
    background-color: #f60;
  }

  .filter-date-sort {
    padding: 0px;
    background-color: #f7f7f7;
  }

  .sort {
    width: 50%;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
    position: relative;
    cursor: pointer;
  }

  .sort > i {
    color: #fff;
    display: inline-block;
  }

  .sort span {
    color: #fff;
    padding-left: 5px;
    margin-top: 3px;
    font-size: 12px;
  }

  .sort ul ul {
    left: -109px;
    top: 18px;
    width: 120px;
  }

  .filter-date-sort .search-filter {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .datestrip {
    height: 60px;
  }

  .datestrip .slick-arrow {
    top: 18px;
  }

  .datestrip .slick-prev {
    background-color: transparent;
    height: 18px;
  }

  .datestrip .slick-prev:after {
    content: "\25C0 \FE0E";
    color: #fff;
    position: relative;
    left: 5px;
    top: -3px;
    font-size: 10px;
    padding: 1px 3px 2px 2px;
    background-color: #f60;
  }

  .datestrip .slick-next:after {
    content: "\25B6 \FE0E";
    color: #fff;
    position: relative;
    right: 5px;
    font-size: 10px;
    top: -3px;
    padding: 1px 9px 2px 5px;
    background-color: #f60;
  }

  .datestrip .slick-next {
    right: -16px;
    height: 18px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
  }

  .datestrip-slider {
    border-radius: 0;
    border: none;
    background-color: transparent;
  }

  .datestrip .slick-list {
    margin-left: -1px;
  }

  .datestrip span {
    font-size: 13px;
    line-height: 15px;
  }

  .datestrip span.datestrip__day {
    font-size: 12px;
  }

  .sort button {
    display: none;
  }

  .datestrip__item--active {
    background-color: transparent !important;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-radius: 0;
    -webkit-transform: none;
    transform: none;
  }

  .datestrip__item--active span {
    color: #000;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
  }

  .routes-list .routes-list__cta.routes-list__cta--operator {
    max-width: 100%;
    width: 100%;
  }

  .show-on-mobile {
    display: block;
  }

  .route-list-detail-button {
    display: block;
  }

  .buy-button-holder {
    display: none;
  }
  .popular-route-on-mobile {
    display: block;
    margin-bottom: 0;
  }
  .popular-route-on-desktop {
    display: none;
  }
  .search-widget-outer {
    margin-top: 0px;
  }
  .routes-links li {
    width: 50%;
  }
}

@media (min-width: 640px) {
  .routes-list__mobile {
    margin-left: -5px;
  }
}

@media (min-width: 992px) {
  .routes-list__price {
    font-size: 15px;
    float: left;
    padding: 12px 0 12px 20px;
    border-left: 1px solid #fff;
    min-height: 63px;
  }

  .routes-list__cta {
    position: absolute;
    margin-top: -24px;
    top: 50%;
    right: 20px;
    bottom: auto;
    padding: 11px 16px 9px;
    min-width: 100px;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.19);
  }
}

@media (max-width: 575px) {
  .search-inner > div {
    flex-basis: 100% !important;
    max-width: 100%;
  }

  .popular-routes-links {
    flex-direction: column;
  }

  .routes-links {
    margin-bottom: 20px;
  }
}

@media (max-width: 510px) {
  #family-logo {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .waiting-line .line-waiting {
    height: 10px;
  }

  .waiting-line .boxes {
    margin-top: -22px;
  }

  .waiting-line .box-waiting {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    white-space: normal;
    line-height: 1.3;
  }
  .routes-links li {
    width: 100%;
  }
}
