/*sidebars*/
body.post-type-ozy_sidebars #misc-publishing-actions,
body.post-type-ozy_sidebars #minor-publishing-actions {
	display:none;
}
body.post-type-ozy_sidebars #post-body.columns-2 #postbox-container-1 {
    float: left !important;
    margin-right: inherit !important;
    width: inherit !important;
}
body.post-type-ozy_sidebars #titlediv #title {
	width:280px !important;
}
/*generic*/
#setting-error-tgmpa{
	display:block !important;
}
.red-text {
	color:#FF0004;
}
.green-text {
	color:#00D304;
}
.server_resources_table tr>th {
	text-align:left;
}
.server_resources_table tr>td:first-child {
	font-weight:700;
}
.generic-info-box {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin:10px 0;
	padding: 5px 10px;
	clear:both;
	width:90%; 
	line-height:18px;	
}
.orange-box {
	background-color: #ffcd45; 
	color: #000;
	border: 2px solid #ffba00; 
}
.white-box {
	background-color: #fff; 
	color: #000;
	border: 2px solid #dedede; 
}
.green-box {
	background-color: #FAFFFB; 
	color: #8AB38A;
	border: 2px solid #a1d3a2;
}
.blue-box {
	background-color: #F5FAFD; 
	color: #0C518F;
	border: 2px solid #CAE0F3;
}
/*menu styler*/
#custom-menu-bg-image-preview {
	position: relative;
}
#custom-menu-bg-image-preview:hover>img {
	display:block;
}
#custom-menu-bg-image-preview>img {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:150px;
	height:150px;
	border:1px solid #dedede;
	background-color:#ffffff;
}
.icon-wpb-ozy-el {
	background-image:url(../images/admin/component.png) !important;
	background-position:0 0 !important;
}
/* - iconselect */
#ozyMegaMenuStyleWindow,
#ozyIconSelectorWindow {
	display: none;
}

#ozy-form-iconselect-icons i {	
	/*font-family: "FontAwesome" !important;*/
	font-size: 22px;
	width: 30px;
	height: 30px;
	text-align: center;
	/*line-height: 30px;*/
	display: block;
	float: left;
	background-color: #dedede;
	margin: 0 1px 1px 0;
}

#ozy-form-iconselect-icons i:hover,
#ozy-form-iconselect-icons i.selected {
	background-color: #ffffff;
}

#ozy-form-iconselect-icons h3:before,
#ozy-form-iconselect-icons p:after {
	content: ' ';
	display: table;
	clear: both;
}

.ozy-important-info {
	font-weight:700;
	color:#0073aa;
}

.icons-selector .selected-icon i:before,.icons-selector .fip-icons-container i:before{line-height:42px !important;font-size:24px;}.icons-selector *{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}.icons-selector{display:inline-block}.icons-selector .selector{border:1px solid #EDEDED;width:101px;height:40px;background-color:#fff}.icons-selector .selector-button{background-color:#F4F4F4;width:39px;height:100%;display:block;text-align:center;cursor:pointer;float:left;border-left:1px solid #E1E1E1}.icons-selector .selector-button:hover{background-color:#f1f1f1}.icons-selector .selector-button:hover i{color:#999}.icons-selector .selector-button i{line-height:40px;text-align:center;color:#aaa;text-shadow:0 1px 0 #FFF}.icons-selector .selected-icon{display:block;width:60px;height:100%;float:left;text-align:center}.icons-selector .selected-icon i{line-height:42px;font-size:24px;cursor:default;color:#404040}.icons-selector .selector-popup{position:absolute;z-index:10000;background-color:#fefefe;padding:5px;-moz-box-shadow:0 1px 1px rgba(0,0,0,.04);-webkit-box-shadow:0 1px 1px rgba(0,0,0,.04);box-shadow:0 1px 1px rgba(0,0,0,.04);height:auto;width:491px;border:1px solid #E5E5E5;margin-top:-1px}.icons-selector .selector-search input[type=text]{line-height:20px;padding:10px 2.5%;width:100%;border:1px solid #EDEDED;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin-bottom:5px;font-size:12px;color:#404040;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;outline:0}.icons-selector input::-webkit-input-placeholder{color:#ddd;text-transform:uppercase}.icons-selector input:-moz-placeholder{color:#ddd;text-transform:uppercase}.icons-selector input::-moz-placeholder{color:#ddd;text-transform:uppercase}.icons-selector input:-ms-input-placeholder{color:#ddd!important;text-transform:uppercase}.icons-selector .selector-search i{color:#eee;margin-left:-30px}.icons-selector .fip-icons-container{height:280px !important;overflow-y:scroll;width:100%;background-color:#fff;border:1px solid #EDEDED;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:5px}.icons-selector .fip-icons-container .loading{color:#eee;font-size:24px;margin:0 auto;padding:20px 0;text-align:center;width:100%}.icons-selector .fip-box{height:40px;border:1px solid #EFEFEF;display:inline-block;margin:2px;width:60px;line-height:42px;text-align:center;cursor:pointer;vertical-align:top}.icons-selector .fip-box:hover{background-color:#f6f6f6}.icons-selector .selector-footer{line-height:12px;padding:5px 5px 0}.icons-selector .selector-footer,.icons-selector .selector-footer i{color:#ddd;font-size:24px}.icons-selector .selector-arrows{float:right}.icons-selector .selector-pages{font-size:11px}.icons-selector .selector-arrows i{cursor:pointer}.icons-selector .selector-arrows i:hover{color:#777}.icons-selector span.current-icon,.icons-selector span.current-icon:hover{background-color:#2EA2CC;color:#fff;border:1px solid #298CBA}.icons-selector .icons-picker-error i:before{color:#eee;font-size:22px;padding:20px 0;display:block;margin:0 auto;width:20px;cursor:default}@font-face{font-family:iconpicker;src:url(iconpicker.eot?90190138);src:url(../font/admin/iconpicker.eot?90190138#iefix) format('embedded-opentype'),url(../font/admin/iconpicker.ttf?90190138) format('truetype'),url(../font/admin/iconpicker.svg?90190138#iconpicker) format('svg');font-weight:400;font-style:normal}.icons-selector [class*=" fip-icon-"]:before,.icons-selector [class^=fip-icon-]:before{font-family:iconpicker;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em}.icons-selector .fip-icon-search:before{content:'\e812';cursor:default}.icons-selector .fip-icon-cancel:before{content:'\e814';cursor:pointer}.icons-selector .fip-icon-block:before{content:'\e84e';color:#fed0d0}.icons-selector .fip-icon-down-dir:before{content:'\e800'}.icons-selector .fip-icon-up-dir:before{content:'\e813'}.icons-selector .fip-icon-left-dir:before{content:'\e801'}.icons-selector .fip-icon-right-dir:before{content:'\e802'}.icons-selector .fip-icon-spin3:before{content:'\e815'}.icons-selector .fip-icon-spin3{-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;display:inline-block}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-o-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-ms-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}