/**
* Primary Menu Classic
*/
@media screen and (min-width:1181px){
	#top-menu .menu-item-search>a>span {
		width:60px;
		height:60px;
		line-height:64px;
		font-size:18px;
		text-align: center;
	}
	#top-menu .menu-item-search>a>span>span {display:none;}
}
#top-menu .logo,
#top-menu .logo>a,
#top-menu .logo>a>img {
	display:inline-block;
    height: 100%;/*make sure bigger or smaller logos fits too*/
}
#top-menu .logo>a {
	display:inline-flex;
}
#header.menu-align-left #top-menu .logo {
	float:right;
}
#header.menu-align-left .header-contact-info {
	margin-right:40px;
}
#header.menu-align-left .header-contact-info>i {
	margin: 0 10px 0 0;
}
nav#top-menu{
	display:inline-block;
	width:100%;
}
nav#top-menu>div.primary-menu-bar-wrapper {
	position:absolute;
	right:40px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%); 
	z-index: 0;
}
#header.menu-align-left nav#top-menu>div.primary-menu-bar-wrapper {
	right:inherit;
	left:40px;
}
/*#top-menu,*/
#top-menu ul,
#top-menu ul li,
#top-menu ul li a,
#top-menu #head-mobile{
	border:0;
	list-style:none;
	line-height:1;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#top-menu>div>div>ul {margin-top:4px;} /*menu align fix*/
#top-menu ul ul ul{z-index:1;}

#top-menu:after,
#top-menu > div > div > ul:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
#top-menu #head-mobile{display:none}
#top-menu > div > div > ul > li{float:left}
#top-menu > div > div > ul > li > a{
	padding:0 12px;
	font-size:12px;
	letter-spacing:1px;
	text-decoration:none;
	color:#ddd;
	font-weight:700;
}
#header.menu-align-left #top-menu > div > div > ul > li > a#main-search-button { padding-right:24px; }
#header.menu-align-right #top-menu > div > div > ul > li > a#main-search-button { padding-left:24px; }
#top-menu > div > div > ul > li:first-child > a {
	padding-left:0;
}
#top-menu > div > div > ul > li:not(.has-sub):last-child > a {
	padding-right:0;
}
#header.menu-align-left #top-menu > div > div > ul > li:not(.has-sub):last-child > a{padding-right:0;}
#top-menu ul ul {
	position:absolute;
	left:-9999px;
	padding:0;
	margin:0;
	z-index:9999;
}
#top-menu ul ul li{
	position:relative;
	height:0;
	-webkit-transition:all .45s ease;
	-ms-transition:all .45s ease;
	transition:all .45s ease;
	background:#333;	
}
#top-menu li:hover > ul{left:auto;}
#top-menu li:hover > ul > li{
	display: inline-table;	
	min-height:35px;
}
#top-menu ul ul ul {
	margin-left:100%;
	top:0;
}
#top-menu ul ul li a{
	border-bottom:1px solid rgba(150,150,150,0.15);
	padding:11px 6px 11px 12px;
	min-width:200px;
	font-size:12px;
	text-decoration:none;
	color:#ddd;
	font-weight:500;
}
#top-menu li.menu-item-wpml>a {
	text-transform:uppercase;
}
#top-menu ul ul.lang-switcher-dropdown-classic li a {
	min-width:90px;
}
#top-menu ul ul li:last-child > a,
#top-menu ul ul li.last-item > a{border-bottom:0}

#top-menu ul,
#top-menu ul li {
	position:relative;
}

#top-menu>div>div>ul>li.has-sub:after,
#top-menu ul ul li.has-sub > a:after{
	display:block;
	content: "\e4ea";
	position:absolute;
	right:10px;
	top:50%;
	transform:translateY(-50%);
    font-family: "ozythemes";	
	color:red;
}
#top-menu>div>div>ul>li.has-sub {
	padding-right:8px;
}
#top-menu>div>div>ul>li.has-sub:after {
    content: "\e442";
	right:0;
}

#top-menu ul ul li.has-sub:hover,
#top-menu > div > div > ul ul{
	box-shadow: 0px 10px 10px 5px rgba(119, 119, 119, 0.05);
	-moz-box-shadow: 0px 10px 10px 5px rgba(119, 119, 119, 0.05);
	-webkit-box-shadow: 0px 10px 10px 5px rgba(119, 119, 119, 0.05);
}
/* stroke */
#top-menu>div>div>ul>li:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-side)>a,
#top-menu>div>div>ul>li:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-side)>a:after,
#top-menu>div>div>ul>li:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-side)>a:before {transition: all .2s;}
#top-menu>div>div>ul>li:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-side)>a {position: relative;}
#top-menu>div>div>ul>li:not(.menu-item-wpml):not(.menu-item-search):not(.menu-item-side)>a:after{
	position: absolute;
	bottom: 15px;
	left: auto;
	right: 0;
	margin: 0 12px 0 12px;
	width: 0%;
	content: '.';
	color: transparent !important;
	background: #aaa;
	height: 2px !important;
}

#top-menu>div>div>ul>li:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side).active>a:after,
#top-menu>div>div>ul>li:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side)>a:hover:after{width: calc(100% - 24px);}

#top-menu>div>div>ul>li:first-child:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side).active>a:after,
#top-menu>div>div>ul>li:first-child:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side)>a:hover:after,
#top-menu>div>div>ul>li:last-child:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side).active>a:after,
#top-menu>div>div>ul>li:last-child:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side)>a:hover:after{width: calc(100% - 12px);}

#top-menu>div>div>ul>li:last-child:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side).active>a:after,
#top-menu>div>div>ul>li:last-child:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side)>a:hover:after{margin:0;}

#top-menu>div>div>ul>li:not(.menu-item-wpml):first-child.active>a:after {width: calc(100% - 12px)!important;}
/* stroke end*/
@media all and (-ms-high-contrast:none) {/* IE11 */
	*::-ms-backdrop, #top-menu ul li a>svg { display:none; } 
	*::-ms-backdrop, #top-menu ul li:first-child>a:hover:after {
		width: calc(100% - 24px)!important;
	}
	*::-ms-backdrop, #top-menu>div>div>ul>li:not(.active):not(.menu-item-wpml):not(.menu-item-search):not(.menu-item-use-custom):not(.menu-item-side)>a:hover:after{left:0}
	*::-ms-backdrop, #top-menu>div>div>ul>li:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side).active>a:after,
	*::-ms-backdrop, #top-menu>div>div>ul>li:not(.menu-item-wpml):not(.menu-item-use-custom):not(.menu-item-search):not(.menu-item-side)>a:hover:after{width: calc(100% - 24px);}
}
@media screen and (max-width:1280px){
	#top-menu>div>div>ul>li.has-sub>a:before,
	#top-menu>div>div>ul>li.has-sub>a:after{display:none;}
	#logo-side-info-bar h4,
	#logo-side-info-bar p,
	#logo-side-info-bar a,
	#top-menu>div>div>ul>li>a{font-size:12px!important;}
	ul#logo-side-info-bar>li>div{padding-top:10px !important;}
	ul#logo-side-info-bar>li i{font-size:22px !important;}
}
@media screen and (max-width:1180px){
	#header {
		height:60px !important;
		padding:0 !important;
	}
	#main {
		padding-top:60px !important;
	}
	nav#top-menu>div.primary-menu-bar-wrapper {
		transform:none;
		-webkit-transform:none;
		right:inherit;
		position:absolute;
		top:0 !important;
		right:0 !important;
		bottom:0 !important;
		left:0 !important;
		width:100%;
		z-index: 0;	
	}	
	#top-menu .logo{
		position:absolute;
		top:10px;
		left: 0;
		width:100%;
		height:46px;
		text-align:center;
		float:none;
		transform:none;
		-webkit-transform:none;
	}
	.logo>a>img {
		max-height:46px;
		width:inherit;
	}
	.logo2{display:none}
	nav#top-menu{width:100%;}
	#top-menu{width:100%}

	#top-menu ul,
	#header.menu-align-right #top-menu>div>div>ul,
	#header.menu-align-center #top-menu>div>div>ul{
		width:100%;
		display:none;
	}
	#header.menu-align-center #top-menu>div>div>ul>li,
	#header.menu-align-right #top-menu>div>div>ul>li {
		float:left !important;
	}
	#top-menu > div > div > ul{
		position:absolute;
		top:60px;
		left:0;
		right:0;
		margin-right:0 !important;
		height:inherit !important;
		line-height:inherit !important;
	}
	#top-menu ul li{
		position:relative;
		width:100%;
		border-top:1px solid #444;		
	}
	#header.menu-align-left #top-menu > div > div > ul > li:first-child > a{padding-left:17px}
	#top-menu>div>div>ul>li:last-child {border-bottom:1px solid #444;}
	#top-menu ul ul li,
	#top-menu li:hover > div > ul > li{height:auto}
	#top-menu ul li a,
	#top-menu ul ul li a{
		width:100%;
		border-bottom:0;
	}
	#top-menu > div > div > ul > li{float:none}
	#top-menu ul ul li a{padding-left:30px}
	#top-menu ul ul ul li a{padding-left:40px}
	#top-menu ul ul li a{background:none;}
	#top-menu ul ul li:hover > a,
	#top-menu ul ul,
	#top-menu ul ul ul{
		position:relative;
		left:0;
		width:100%;
		margin:0;
		text-align:left;
	}
	#top-menu > div > div > ul > li > a:after,
	#top-menu > div > div > ul > li.has-sub > a:after,
	#top-menu > div > div > ul > li.has-sub > a:before,
	#top-menu ul ul > li.has-sub > a:after,
	#top-menu ul ul > li.has-sub > a:before{display:none}
	#top-menu #head-mobile{
		display:block;
		padding:23px;
		color:#ddd;
		font-size:12px;
		font-weight:700;
	}
	#top-menu .menu-button{
		width:55px;
		height:50px;
		position:absolute;
		right:0;
		top:10px;
		/*top:-50%;
		transform:translateY(50%);*/
		cursor:pointer;
		z-index: 12399994;
	}
	#top-menu .menu-button:after{
		position: absolute;
		top: 22px;
		right: 20px;
		display: block;
		height: 8px;
		width: 20px;
		border-top: 2px solid #dddddd;
		border-bottom: 2px solid #dddddd;
		content: '';
	}
	#top-menu .menu-button:before{
		-webkit-transition:all .3s ease;
		-ms-transition:all .3s ease;
		transition:all .3s ease;
		position:absolute;
		top:16px;
		right:20px;
		display:block;
		height:2px;
		width:20px;
		background:#ddd;
		content:'';
	}
	#top-menu .menu-button.menu-opened:after{
		-webkit-transition:all .3s ease;
		-ms-transition:all .3s ease;
		transition:all .3s ease;
		top:23px;
		border:0;
		height:2px;
		width:19px;
		background:#fff;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		transform:rotate(45deg);
	}
	#top-menu .menu-button.menu-opened:before{
		top:23px;
		background:#fff;
		width:19px;
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
	
	#top-menu ul ul ul li.active a{border-left:none;}
	#top-menu > div > div > ul > li.has-sub > ul > li.active > a,
	#top-menu > div > div > ul ul > li.has-sub > ul > li.active > a{border-top:none}	

	#top-menu .menu-item-search>a>span>i{
		padding-right:5px;
	}	
	
	#top-menu li:hover > ul{margin-left:0;}
	#top-menu li:first-child:hover > ul {margin-left:-10px;}
	#top-menu > div > div > ul > li > a {padding-left:20px!important;}	
	#top-menu>div>div>ul>li>a>svg{display:none;}
		
	#page-title-wrapper{margin-top:0 !important;}
	
	#head-mobile{
		box-shadow:none !important;
		-webkit-box-shadow:none !important;
	}
	
	li.menu-item-use-custom{margin-top:0!important;}	
	li:not(:first-child).menu-item-use-custom {margin-left:0!important;}
	li:not(:last-child).menu-item-use-custom {margin-right:0!important;}
	
	#top-menu .submenu-button {
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0;
		display: block;
		height: 60px;
		width: 60px;
		cursor: pointer;
	}
	#top-menu ul ul .submenu-button {
		height:35px;
	}
	#top-menu>div>div>ul>li.has-sub:after,
	#top-menu ul ul li.has-sub > a:after{
		right: 20px;
		top: 30px;
	}
	#top-menu>div>div>ul>li.has-sub {
		padding-right:0;
	}
	#top-menu ul li.has-sub:after{
		display:block;
		content: "\e442";
		position:absolute;
		right:10px;
		top:15px;
		font-family: "ozythemes";	
		color:red;
	}	
}

li.menu-item-use-custom{margin-top:10px;}

li.menu-item-use-custom {
	margin-left:10px;
}

li.menu-item-use-custom>a {
	padding-left:15px !important;
	padding-right:15px !important;
	border-radius:4px;
	line-height:40px !important;
}